<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <div>
        <div>
            <div>
                <input id="page_url"/>
                <button id="submit_url">Submit</button>
            </div>

            <div>
                <textarea id="scraped_content" rows="40" cols="100"></textarea>
                <button id="save">Save</button>
            </div>

            <div>
                <table id="data_table"width="100%">
                    <tr>
                        <th>ID</th>
                        <th>Content</th>
                    </tr>
                     
                </table>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("submit_url").onclick=()=>{
            var target_url = document.getElementById("page_url").value
            $.ajax({
                url:"/get_url/",
                method:"POST",
                contentType:"application/json",
                data:JSON.stringify({"url":target_url}),
                success:function(response){
                    console.log(response)
                    document.getElementById("scraped_content").innerHTML=response.content 
                }
            })
        }

        document.getElementById("save").onclick=()=>{
            var data = document.getElementById("scraped_content").innerHTML
            $.ajax({
                url:"/save_content/",
                method:"POST",
                contentType:"application/json",
                data:JSON.stringify({"content":data}),
                success:function(response){
                     $.ajax({url:"/get_content/",
                     method:"GET",
                     success:function(response){
                        var table = document.getElementById("data_table")
                        var num=0
                        response.response["dt"].forEach(element => {
                            num+=1
                            console.log(element)
                            var tr = document.createElement("tr")
                            var td1 = document.createElement("td") 
                            td1.innerHTML=num
                            var td2 = document.createElement("td")
                            if(element.content[1].length>20){
                                td2.innerHTML=element.content[1].slice(0,20)
                            }
                            else{

                                td2.innerHTML=element
                            }
                            tr.append(td1)
                            tr.append(td2)
                            table.append(tr)
                        });
                     }
                    }) 
                }
            })
        }
    </script>
</body>
</html>